/*4*/
/*10*/
/*6*/
#cabecera__desktop div nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

header .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
header .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
header .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
header .nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}
header .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
header .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
header .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
header .nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

@keyframes bounce {
  from {
    transform: initial;
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wave {
  0% {
    transform: translate(3px, 3px);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-3px, 1px);
  }
  60% {
    transform: translate(-2px, -2px);
  }
  80% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(3px, 3px);
  }
}
@keyframes rolltext {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes hideToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* RESET ESTILOS */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

/*HEADER*/
header section nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.2rem;
}

#cabecera__mobile nav .navbar .container {
  width: 100%;
}

header section nav .navbar .nav-container {
  display: block;
  position: relative;
  height: 0px;
}
header section nav .navbar .nav-container .menu-items {
  display: flex;
}

header section nav .navbar div .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

header section nav .navbar .nav-container li {
  list-style: none;
}
header section nav .navbar .nav-container li a {
  text-decoration: none;
  color: #F5F5F5;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
header section nav .navbar .nav-container li a:hover {
  font-weight: bolder;
}

header section nav .navbar .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: relative;
  padding: 2rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header section nav .navbar .nav-container .hamburger-lines span {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.navbar .menu-items {
  padding-top: 60px;
  height: 80vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  transition: transform 0.5s ease-in-out;
  text-align: left;
  background-color: #7585E2;
  z-index: 3;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

@media only screen and (min-width: 701px) {
  #cabecera__mobile {
    display: none;
  }
}

/*FIN HEADER CELULAR*/
/*INICIO HEADER DESKTOP*/
#cabecera__desktop {
  font-size: 0.75rem;
  border-bottom: 7px solid #7585E2;
  background-color: #F5F5F5;
  padding: 30px 0px;
}
#cabecera__desktop div {
  background-color: #F5F5F5;
}
#cabecera__desktop div nav ul li a {
  color: #000000;
  font-family: sans-serif;
  font-size: 1rem;
}
#cabecera__desktop div nav ul li a:hover {
  color: #7585E2;
  transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
  animation: heartBeat;
  animation-duration: 5s;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  #cabecera__desktop {
    display: none;
  }
}

/*FIN HEADER DESKTOP*/
.partidos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2px;
}

.primerafecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  columns: 1;
  border: red solid 2px;
}

.segundafecha {
  columns: 2;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
  border: red solid 2px;
}

.tercerafecha {
  columns: 3;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
  border: red solid 2px;
}

.primerPartido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.segundoPartido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.tercerPartido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.cuartoPartido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.quintoPartido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.sextoPartido {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.izquierdo {
  display: flex;
  text-align: center;
  padding: 2px;
}

.derecho {
  display: flex;
  text-align: center;
  padding: 2px;
}

.tabla {
  border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: grid;
  align-items: center;
  align-content: center;
}

.tablaPosiciones {
  border: 5px solid red;
  padding: 20px;
  font-size: 20px;
  margin: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-spacing: 25px 10px;
}

.desaparecer {
  display: none;
}

/*# sourceMappingURL=style.css.map */
