@import 'base/tipografias';
@import 'utilities/listas';
@import 'utilities/mixin';
@import 'utilities/extends';
@import 'components/botones';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/grid';
@import 'layout/banner';
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;}

/*HEADER*/
#cabecera {
    font-size: nth($tamaño-fuente,2);
    border-bottom: 7px solid nth($colores,2);
    background-color: nth($colores,5);
    padding: 4vh 0px;
    div {
        background-color: nth($colores,5);
        nav {
            ul {
                @extend %centralizador1;
                li {
                    a {
                        color:nth($colores-fuente, 2);
                        font-family: nth($fuentes, 2);
                        font-size: nth($tamaño-fuente,3);
                        &:hover {
                            color:nth($colores-fuente, 1);
                            transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
                            animation: heartBeat;
                            animation-duration: 5s; }}}}}}
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            display: none;}}

/* HEADER PARA DESKTOP */
@media only screen and (min-width : 481px) {
#hamburguesa {
	display: none;}}
header {
    @extend %hamburguesa;}

/*MAIN*/

/*PRESENTACION SITIO WEB*/

/*PAGINA ESTADIO PARA CELULARES*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.wrapper {
		display:block;
		grid-gap: 10px;
		padding: 10px;}}
/* ZOOM IMAGENES */
.img-hover-zoom {
	height: 100%;
	overflow: hidden;} 
.img-hover-zoom--slowmo img {
	transform-origin: 50% 65%;
	transition: transform 5s, filter 3s ease-in-out;}
.img-hover-zoom--slowmo:hover img {
	transform: scale(1.1);}

/*PAGINA FIXTURE*/
.seccion__inicial {
    padding: 1rem 2rem;
    background-color: nth($colores,2);
        h2 {
            padding: 1rem;
            color: nth($colores-fuente,3);
            font-family: nth($fuentes,1);}
            font-size: nth($tamaño-fuente,4);
            @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
                h2 {
                    padding: 2rem 1rem 1rem 0.5rem;
                    text-align: left;
            }}}
.seccion__intermedia {
    padding: 1rem 2rem;
    background-color: nth($colores,7);
        h2 {
            padding: 1rem;
            color: nth($colores-fuente,1);
            font-family: nth($fuentes,1);
            font-size: nth($tamaño-fuente,4);}}
/*PAGINA CONTACTO*/
.mainformulario {
    background-color: nth($colores,3);}
.titulocontacto {
    margin-top: 10vh;
    div {
        h2 {
            @extend %centralizador1;
            font-family: nth($fuentes,2);
            color: nth($colores,2);}}}
.titulocontacto {
    div {
        h3 {
            @extend %centralizador1;
            font-family: nth($fuentes,2);
            color: nth($colores,2);}}}
.formulario {
    width: 340px;
    height: 440px;
    background-color: nth($colores,5);
    border-radius: 15px;
    box-shadow: 0 0 40px 10px nth($colores,2);
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: nth($fuentes,2);
    position: relative;
    h2 {
        margin: 10px 0;
        text-align: center;
        padding-bottom: 10px;
        width: 100%;
        color:nth($colores-fuente,2);
        border-bottom: 3px solid nth($colores,2);}}
.formulario {
    p {
        &:before {
            content: attr(type);
            display: block;
            margin: 28px 0 0;
            font-size: 14px;
            color: nth($colores,2);}}}
.formulario {
            p {           
            input {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                background: none;
                outline: none;
                resize: none;
                border: 0;
                font-family: nth($fuentes,2);
                transition: all 0.3s;
                border-bottom: 2px solid nth($colores,3);
            &:focus {
                border-bottom: 2px solid nth($colores,3);}}}}
.formulario {
    button {
    @extend %boton;
    font-family: nth($fuentes,2);
    margin: 8px 0 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
    background-color: nth($colores,2);
    color: nth($colores-fuente,2);}}}
.formulario {
    div {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 10px;
    background: nth($colores,2);
    color: nth($colores-fuente,3);
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    span {
        margin: 0 5px 0 15px;}}}
//FIXTURE
.fixture {
    padding: 20px 0px 0px 0px;
}
//SIMULADOR DE PARTIDOS

main {
    div {
        div {
            section {
                div {
                    div{
                        figure{
                            img {
                                padding: 10px 30px;
}}}}}}}}
main {
    div {
        div {
            section {
                div {
                    div{
                        figure{
                            figcaption {
                                font-family: nth($fuentes,3);
                                font-family: nth($fuentes,3);
                                color: nth($colores-fuente,2)
}}}}}}}}
.partidos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2px;
}
.primerafecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    columns: 1;
    border: red solid 2px;
}
.segundafecha {
    columns: 2;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    border: red solid 2px;
}
.tercerafecha {
    columns: 3;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
    border: red solid 2px;
}
.primerPartido {
    display: flex;
    flex-direction: row; 
    font-size: 12px;
    
}
.segundoPartido {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.tercerPartido {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.cuartoPartido {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.quintoPartido {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.sextoPartido {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    
}
.izquierdo {
    display: flex;
    text-align: center;
    padding: 2px;
}
.derecho {
    display: flex;
    text-align: center;
    padding: 2px;
}
.tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: grid;
    align-items: center;
    align-content: center;
}
.tablaPosiciones {
    border: 5px solid red;
    padding: 20px;
    font-size: 20px;
    margin: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    border-spacing: 25px 10px;}
//INPUTS DE RESULTADOS
.inputResultado {
                margin: 15px 0px 0px 0px;
                padding: 2px;
                width: 20%;
                height: 50%;
                font-size: 20px;}
.desaparecer {
    display: none;}